target/
**/target/
.git/
.github/
.vscode/
.idea/
.DS_Store
**/*.md
!README.md
Dockerfile
.dockerignore
.gitignore

HoppscotchCollection.json
missing_blobs.txt
env.sh
pdsmigration-gui/assets/
pdsmigration-web/tests/
